# Creating, Reading and Writing

Importing pandas

In [1]:
import pandas as pd

---
## Creating data

There are two core objects in pandas: 
- the DataFrame 
- and the Series.

In [3]:
pd.DataFrame({'Yes':[50,20], 'No':[21,11]})

   Yes  No
0   50  21
1   20  11

DataFrame entries are not limited to integers.

In [4]:
pd.DataFrame({'Harry':['I am Harry.', 'I am nine.'],'Eline':['I am Eline.', 'I am eight.']})

         Harry        Eline
0  I am Harry.  I am Eline.
1   I am nine.  I am eight.

The dictionary-list constructor assigns values to the column labels, but just uses an ascending count from 0 (0, 1, 2, 3, ...) for the row labels.<br>
The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor:

In [6]:
pd.DataFrame({'Harry':['I am Harry.', 'I am nine.'],'Eline':['I am Eline.', 'I am eight.']}, index=['Name', 'Age'])

            Harry        Eline
Name  I am Harry.  I am Eline.
Age    I am nine.  I am eight.

### Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list.

In [7]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name:

In [8]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

---
## Reading data files